<!doctype html>
<html>
    <head>
        <title>Create Todo</title>
    </head>
    <body>
        <main>
            <div>
                <p><a href="{% url "todo_list_list" %}">Home</a></p>
                <h1>Create a new item</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
