<!doctype html>
<html>
    <head>
        <title>Update List</title>
    </head>
    <body>
        <main>
            <p><a href="{% url "todo_list_list" %}">Home</a></p>
            <div>
                <h1>Update list</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
