<!doctype html>
<html>
    <head>
        <title>Delete list</title>
    </head>
    <body>
        <main>
            <div>
                <p><a href="{% url "todo_list_list" %}">Home</a></p>
                <h1>Are you sure?</h1>
                <form method="POST">
                    {% csrf_token %}
                    <button>Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>
