<!doctype html>
<html>
    <head>
        <title>{{ todo_list.name }}</title>
    </head>
    <body>
        <main>
            <p><a href="{% url "todo_list_list" %}">Home</a></p>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <p>Created on: {{ todo_list.created_on }}</p>
                <p><a href="{% url "todo_list_update" todo_list.id %}">Edit</a></p>
                <p><a href="{% url "todo_list_delete" todo_list.id %}">Delete</a></p>
                <p><a href="{% url "todo_item_create" %}">Add a new item</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                            {% comment %} <th>Completed?</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list.items.all %}
                        <tr>
                            <td><a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                            {% comment %} <td>{{ item.is_completed }}</td> {% endcomment %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
